#logo{
	display: block;
	width: 237px;
	height: 81.75px;
	padding-top: 50px;
	margin: auto;
}

#newsfeed{
	background: #DDD;
	height: 600px;
	float: left;
	width: 400px;
	background-image:url('light_noise.png');
	overflow: auto;
	display: block;
	position: absolute;
	top: 160px;
	left: 40px;
	border-radius: 10px;
}

#map-container{
	padding: 20px;
	position: absolute;
	left: 420px;
	top: 160px;
	background: black;
	/* #c7001c */
	border: 4px solid white;
	border-radius: 10px;
}

#crazy-map{
	height: 560px;
	width: 1000px;
	border-radius: 10px;

}

#newsfeed-title{
	text-align: center;
	padding: 10px;
}

.newsfeed-item{
	height: 60px;
	margin: 20px;
	padding: 10px;
	background: white;
	border-radius: 10px;
}

.item-text{
}

.item-title{
	font-size: 14px;

}

.item-time{
	font-size: 20px;
	float: left;
}

.order-button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	float: right;
}

.item-price{
	font-size: 20px;
	float: right;
	padding-right: 100px;
}

.newfeed-button-div{
	display: inline;
	float: right;
}

.newsfeed-text-div{
	float: left;
}

#table-div{
	float: left;
}


