<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Place Order</h3>
</div>
<div class="modal-body">
  <input hidden="hidden" id="modal-user" value="">
  <input hidden="hidden" id="modal-checkin" value="">
  <input hidden="hidden" id="modal-address" value="">

  <div class="field">
    <label for="order">What do you want?</label>
    <textarea name="order" id="order"></textarea>
  </div>
  <div class="field">
    <label for="payment">Payment:</label>
    <input name="payment" id="payment"></input>
  </div>
  <div class="field">
    <label for="address-name">Deliver to:</label>
    <select name="address-name" id="address-name">
    </select>
    <a href="#">Add new</a>
  </div>
  <div class="field">
    <label>Your deliverer:</label>
    <img src="../../Eric.jpeg">
    <span id="deliverer"></span>
    <span id="rating">****</span>
  </div>


</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
  <a onClick="javascript:submit_order()" class="btn btn-primary">Place Order</a>
</div>
