<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Place Order</h3>
</div>
<div class="modal-body">
  <input hidden="hidden" id="modal-user" value="">
  <input hidden="hidden" id="modal-checkin" value="">
  <input hidden="hidden" id="modal-address" value="">

  <form class="form-horizontal">
  <fieldset>
  <div class="control-group">
    <label for="order" class="control-label">Order:</label>
    <div class="controls">
    <input type="text" class="input-xlarge" name="order" id="order"></input>
    </div>
  </div>
  <div class="control-group">
    <label for="details" class="control-label">Details:</label>
    <div class="controls">
    <textarea name="details" id="details" class="input-xlarge"></textarea>
    </div>
  </div>
  <div class="control-group">
    <label for="payment" class="control-label">Payment:</label>
    <div class="controls">
    <input type="text" class="input-xlarge" name="payment" id="payment"></input>
    </div>
  </div>
  <div class="control-group">
    <label for="address-name" class="control-label">Deliver to:</label>
    <div class="controls">
    <select name="address-name" id="address-name">
    </select>
    <a href="#">Add new</a>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Your deliverer:</label>
    <div class="controls">
    <img src="../../eric140.png">
    <p id="deliverer"></p>
    </div>
  </div>
  </fieldset>
</form>


</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
  <a onClick="javascript:submit_order()" class="btn btn-primary">Place Order</a>
</div>
